
#main{
  border: 1px solid black;
  width:600px;
  height: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
}
.inner{
  width:6px;
  height:6px;
}
.om{
  background-color: black;
}
