
#main{
  border: 1px solid black;
  width:60vw;
  height: 60vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
}
.inner{
  width:.6vw;
  height:.6vw;
}
.om{
  background-color: black;
}
